<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Weather</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>

</head>

<body>

<main role="main" class="container">


    <div class="starter-template">
        <img th:src="${img}"/>

        <h1 th:text="'Hello ' + ${username} + ', '"></h1>
        <h2 th:text="'Selected city: ' + ${city}" style="margin-bottom: 48px"></h2>

        <div class="parameter">
            <h2 th:text="'The temperature is:'"></h2>
            <span th:text="${temperature} + ' °C'"></span>
        </div>

        <div class="parameter">
            <h2 th:text="'The humidity is:'"></h2>
            <span th:text="${humidity} + '%'"></span>
        </div>

        <div class="parameter">
            <h2 th:text="'The pressue is:'"></h2>
            <span th:text="${pressure}"></span>
        </div>

        </br>
        </br>
        <h2>
            Other cities:
        </h2>
        <h3>
            <a href="/weather?city=KRAKOW"><span th:text="Krakow"></span></a>
        </h3>
        <h3>
            <a href="/weather?city=GDANSK"><span th:text="Gdansk"></span></a>
        </h3>
        <h3>
            <a href="/weather?city=WARSAW"><span th:text="Warsaw"></span></a>
        </h3>

        </br>
        </br>

        <button>
            <a href="/logout">Logout</a>
        </button>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>